@import '../../variable.scss';

.cart-item-container {
  height: auto;

  padding: 2%;
  margin-bottom: 2vh;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);

  &:last-of-type {
    border-bottom: none;
  }
}

.cart-item-row {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.cart-item-image-container {
  width: 7vw;
  height: 10vh;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  @include response-to-size(phone-small) {
    display: none;
  }

  @include response-to-size(phone) {
    width: 15vw;
  }

  @include response-to-size(tablet-potrait) {
    width: 13vw;
  }

  @include response-to-size(tablet-landscape) {
    width: 10vw;
  }
}

.cart-item-detail {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  padding-left: 2vw;

  .item-price {
    font-weight: bold;
  }

  .cart-item-price-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.cart-item-button {
  justify-content: space-between;
  margin: 4vh 0;

  p {
    color: #02aff3;
    font-size: 1.2em;
  }

  @include response-to-size(phone-small) {
    margin: 2vh 0;
    p {
      font-size: 1em;
    }
  }

  @include response-to-size(phone) {
    margin: 2vh 0;
    p {
      font-size: 1em;
    }
  }
}

.cart-add-min-button {
  display: flex;
  flex-direction: row;
  width: 8vw;
  justify-content: space-around;
  align-items: center;

  @include response-to-size(phone-small) {
    width: 24vw;
  }

  @include response-to-size(phone) {
    width: 20vw;
  }

  @include response-to-size(tablet-potrait) {
    width: 16vw;
  }

  @include response-to-size(tablet-landscape) {
    width: 14vw;
  }

  @include response-to-size(desktop) {
    width: 12vw;
  }
}
