@import "../../variable.scss";

main {
    padding-top: 5vw;

    section {
        padding: 0 5vw;
    }
}

.textAlignCenter {
    text-align: center;
}

.sectionMargin {
    margin: 15vh 0;
}

.fullPageHeight {
    height: 100vh;
}

.flexboxContainer {
    display: flex;
    align-items: center;
}

.captionLayout {
    width: 20vw;
}

.mainCaption {
    font-size: 1.2em;
}

.rightAlign {
    margin-left: auto;
}

.mainDecorationImage {
    width: 100%;
    height: auto;
}

.gridContainer {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
}

// Service Section
.serviceSection {
    .servicesCaption {
        width: 30vw;
    }
}

.servicesButtonMargin5 {
    margin: 5vh 0;
}

// Product Section
.productGrid {
    margin: 8vh 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
}

// Client Section
