@import "../../variable.scss";

main {
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 5vw;
    overflow-x: hidden;
}

.textAlignCenter {
    text-align: center;
}

.sectionGap {
    padding: 10vh 0;
}

.fullPageHeight {
    height: 100vh;
}

.flexboxContainer {
    display: flex;
    align-items: center;
}

.captionLayout {
    width: 20vw;
    margin: 5% 0; 
}

.mainCaption {
    font-size: 1.2em;
}

.rightAlign {
    margin-left: auto;
}

.mainDecorationImage {
    width: 100%;
    height: auto;
}

.gridContainer {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
}

.buttonMargin5 {
    margin: 5vh 0;
}

// Service Section
.serviceDesc {
    h4, p {
        padding-top: 5vh;
    }
}

// Product Section
.productGrid {
    margin: 8vh 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
}

// Client Section

.clientGrid {
    margin: 8vh 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    align-items: center;
}

.clientImageContainer {
    width: auto;
    height: 15vh;
    object-fit: contain;

    img {
        max-height: 100%;
    }
}

// Join Cleansheet (Worker)
.joinWorkerContainer {
    // left: 0;

    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);

    background-color: $primary-color;

    .joinWorkerContent {
        padding: 5vh 5vw;
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;
    }
}

.joinWorkerImageContainer {
    width: 40vw;
    height: auto;

    padding-right: 5vw;

    img {
        max-width: 100%;
    }
}

.joinWorkerTextContainer {
    text-align: center;

    h1, h3 {
        color: $white;
    }
}

// Join Cleansheet Partner
.joinPartnerContainer {
    height: 50vh;
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
}
