@import "../../variable.scss";

main {
    padding-top: 5vw;

    section {
        padding: 0 5vw;
    }
}

.fullPageHeight {
    height: 100vh;
}

.flexboxContainer {
    display: flex;
    align-items: center;
}

.captionLayout {
    width: 20vw;
}

.mainCaption {
    font-size: 1.2em;
}

.rightAlign {
    margin-left: auto;
}

.mainDecorationImage {
    width: 100%;
    height: auto;
}

.gridContainer {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
}

// Service Section
.serviceSection {
    text-align: center;

    .servicesCaption {
        width: 30vw;
    }
}

.servicesContainer {
    margin: 10vh 0;
}

.servicesButtonMargin5 {
    margin: 5vh 0;
}