////////////////// Header //////////////////////
.topLogoContainer {
  width: auto;
  padding: 2%;
}

.cleansheetLogo {
  width: 7%;
  height: auto;
}

////////////////// Content //////////////////////
.loginWrapper {
  display: flex;
  flex-direction: column;

  margin: 0% 3%;
  height: 100vh;
  max-height: 100%;
}
.loginContainer {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  align-items: center;
  justify-content: center;
  // border: 5px solid black;
  margin: auto 0;
}

// Image Content
.imageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: auto;
  margin-right: right;
  text-align: center;
  align-items: center;
  // border: 5px solid black;

  .image {
    width: 100%;
    height: auto;
    max-width: 46vw;
  }

  p {
    font-size: 1.2em;
    margin: 20px 0;
  }
}

// Form
.form-container-flex {
  display: flex;
  flex: 1;
  justify-content: center;
  // border: 5px solid black;
}
