////////////////// Header //////////////////////
.topLogoContainer {
  width: 100%;
}

.cleansheetLogo {
  width: 8%;
  height: auto;
}

////////////////// Content //////////////////////
.loginWrapper {
  display: flex;
  flex-direction: column;

  padding: 2%;
  height: 100vh;
}
.loginContainer {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  align-items: center;
  justify-content: center;
  // border: 5px solid black;
  margin: auto 0;
}

// Image Content
.imageContainer {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-content: flex-start;
  width: auto;
  text-align: center;
  // border: 5px solid black;

  .image {
    width: 90%;
    height: auto;
    padding: 2vh 0;
  }
}

// Form
.form-container-flex {
  display: flex;
  flex: 1;
  justify-content: center;

  // border: 5px solid black;
}
