.text-input-container {
  margin: 1vh 0;
}
.text-input {
  padding: 10px;
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.text-input-error {
  color: red;
  font-size: 0.7em;
}
