@import '../../variable.scss';

// Primary button styling
.primaryButton {
    cursor: pointer;
    background: $primary_button_color 0% 0% no-repeat padding-box;
    color: $white;
    padding: 1.5vh 2vw;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 0px 12px rgba(32, 32, 32, 0.302);
    border: none;
    border-radius: 20px;
    opacity: 1;

    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;

    &:hover {
        color: $white;
        background-color: rgb(7, 149, 206);
    }

    &:focus {
        outline: 0;
    }
}

// Outlined button styling
.outlinedButton {
    cursor: pointer;
    background: $white 0% 0% no-repeat padding-box;
    color: $primary_color;
    padding: 2vh 4vw;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 0px 12px rgba(32, 32, 32, 0.302);
    border: 2px solid $primary_button_color;
    border-radius: 20px;
    opacity: 1;

    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;

    &:hover {
        color: $white;
        background-color: $primary_button_color;
    }

    &:focus {
        outline: 0;
    }
}

// Small button styling
.smallButton {
    cursor: pointer;
    background: $primary_button_color 0% 0% no-repeat padding-box;
    font-size: .5em;
    color: $white;
    padding: 1.5vh 1.8vw;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 0px 12px rgba(32, 32, 32, 0.302);
    border: none;
    border-radius: 20px;
    opacity: 1;

    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;

    &:hover {
        color: $white;
        background-color: rgb(7, 149, 206);
    }

    &:focus {
        outline: 0;
    }
}