@import '../../variable.scss';

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.modal-container {
  position: fixed;
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  width: auto;
  height: auto;
}

.modal-close {
  text-align: end;

  .modal-close-button {
    font-size: 1.5em;
    cursor: pointer;
    color: rgba(92, 92, 92, 0.5);
  }
}

.modal-hide {
  display: none;
}

// Service modal
.modal-content {
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 3vh 0;
  padding: 0 0.8vw;
  width: 50vw;
  height: 80vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.7vw;
    margin-left: 0.5vw;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(2, 175, 243, 0.4);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(2, 175, 243, 0.8);
  }
}

.modal-form {
  margin: 3vh 0;
}

.modal-button {
  margin: 2vh 0;
  width: 20%;

  float: right;
}

.modal-input-row {
  display: flex;
  flex-direction: row;

  div {
    flex: 1;
  }
}

.modal-input-marginRight {
  margin-right: 1vw;
}

.modal-input-marginLeft {
  margin-left: 1vw;
}
