@import '../../variable.scss';

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 200;
}

.modal-container {
  position: fixed;
  background: white;
  border-radius: 20px;
  padding: 1.5%;
  width: auto;
  height: auto;

  opacity: 1;

  @include response-to-size(phone-small) {
    border-radius: 10px;
  }

  @include response-to-size(phone) {
    border-radius: 10px;
  }
}

.modal-header {
  width: 100%;

  display: flex;
  flex-direction: row;

  .modal-title {
    font-size: 1.3em;
  }

  .modal-close-button {
    margin-left: auto;
    font-size: 1.5em;
    cursor: pointer;
    color: rgba(92, 92, 92, 0.5);
  }

  @include response-to-size(phone-small) {
    .modal-title {
      font-size: 1em;
    }
  }

  @include response-to-size(phone) {
    .modal-title {
      font-size: 1em;
    }
  }
}

.modal-hide {
  display: none;
}

// Service modal
.modal-content {
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 3vh 0;
  padding: 0 0.8vw;
  width: 50vw;
  height: 80vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.7vw;
    margin-left: 0.5vw;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(2, 175, 243, 0.4);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(2, 175, 243, 0.8);
  }

  @include response-to-size(phone-small) {
    width: 95vw;
  }

  @include response-to-size(phone) {
    width: 95vw;
  }

  @include response-to-size(tablet-potrait) {
    width: 70vw;
  }
}

.modal-form {
  margin: 3vh 0;
}

.modal-button {
  margin: 2vh auto;
  width: 30%;
}

.modal-input-row {
  display: flex;
  flex-direction: row;

  div {
    flex: 1;
  }
}

.modal-input-marginRight {
  margin-right: 1vw;
}

.modal-input-marginLeft {
  margin-left: 1vw;
}

// Add to cart message
.modal-content-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0%;
  width: 35vw;
  height: 100%;

  @include response-to-size(phone-small) {
    width: 90vw;
  }

  @include response-to-size(phone) {
    width: 75vw;
  }

  @include response-to-size(tablet-potrait) {
    width: 50vw;
  }
}

.modal-cart-image {
  width: 15vw;
  height: auto;
}

.modal-cart-caption {
  margin: 5vh 0;
  text-align: center;

  h2 {
    margin-bottom: 1.5vh;
  }

  @include response-to-size(phone-small) {
    h2 {
      font-size: 1.5em;
    }
  }

  @include response-to-size(phone) {
    h2 {
      font-size: 1.5em;
    }
  }
}

.modal-cart-button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  margin: 2vh 0;
}
