.demo-tag-container {
  top: 0;
  z-index: 1000;

  padding: 16px;
  background-color: rgb(251, 191, 36);

  text-align: center;

  p {
    color: rgb(35, 35, 35);
    font-size: 1.2rem;
    font-weight: 700;
  }
}