@import '../../variable.scss';

.services-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  align-items: center;

  @include response-to-size(phone-small) {
    margin-top: 8vh;
  }

  @include response-to-size(phone) {
    margin-top: 8vh;
  }

  @include response-to-size(tablet-potrait) {
    margin-top: 8vh;
  }

  @include response-to-size(tablet-landscape) {
    margin-top: 8vh;
  }
}

.services-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 50vh;
  width: 100%;
}

.services-title {
  margin-bottom: 1vh;
}

.services-container {
  margin-bottom: 5vh;
}
