@import '../../../variable.scss';

.modal-payment-container {
  width: 35vw;
  height: auto;
  padding: 5vh 0;

  @include response-to-size(phone-small) {
    width: 90vw;
  }

  @include response-to-size(phone) {
    width: 80vw;
  }

  @include response-to-size(tablet-potrait) {
    width: 50vw;
  }
}

.modal-payment-sub {
  margin-bottom: 1vh;
}

// item
.payment-item-container {
  &:last-child {
    border: none;
  }
}

.modal-payment-list {
  padding: 2%;
  overflow-y: auto;
  min-height: 25vh;
  max-height: 70vh;

  &::-webkit-scrollbar {
    width: 1vw;
    margin-left: 0.5vw;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(2, 175, 243, 0.2);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(2, 175, 243, 0.7);
  }
}

.modal-payment-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;

  min-height: 25vh;
}

// Item

.payment-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1vh 1vw;
  cursor: pointer;
  transition: 0.5s ease;
  border-bottom: 1.5px solid rgba($color: $primary_font_color, $alpha: 0.45);
  &:hover {
    background-color: rgba($color: #b7b7b7, $alpha: 0.2);
  }
}

.payment-item-logo_container {
  width: 6vw;
  height: auto;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  @include response-to-size(phone-small) {
    display: none;
  }

  @include response-to-size(phone) {
    width: 6vw;
  }
}

.payment-item-description {
  line-height: 3vh;
  flex: 2;
  margin: 0 0.7vw;
  p {
    &:first-child {
      font-size: 1.1em;
      font-weight: 600;
    }

    font-size: 0.8em;
  }
}

// Detail
.payment-detail-container {
  width: 35vw;
  height: auto;
  padding: 5vh 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @include response-to-size(phone-small) {
    width: 90vw;
  }

  @include response-to-size(phone) {
    width: 90vw;
  }

  @include response-to-size(tablet-potrait) {
    width: 50vw;
  }
}

.payment-detail-account {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: center;
  align-items: center;

  margin: 5vh 0;

  .account-name_number {
    text-align: center;
    margin-top: 2vh;
    p {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 1vh;
      &:last-child {
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 0;
      }
    }
  }
}

.payment-detail-contact {
  width: 100%;
  background-color: #f9f934;
  border-radius: 12px;
  padding: 3.5%;
  text-align: center;

  p {
    font-size: 0.5em;
    margin-bottom: 2vh;
    &:last-child {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
}

.payment-detail-logo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    margin-left: 1.5vw;
    font-weight: 700;
  }
}
