@import '../../variable.scss';

.button {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 0px 12px rgba(32, 32, 32, 0.302);
  border: none;
  border-radius: 20px;
  opacity: 1;

  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;

  &:focus {
    outline: 0;
  }
}

// Primary button styling
.primaryButton {
  padding: 1.5vh 2vw;
}

.backgroundPrimary {
  background: $primary_button_color 0% 0% no-repeat padding-box;
  color: $white;

  &:hover {
    color: $white;
    background-color: rgb(7, 149, 206);
  }
}

.backgroundWhite {
  background: $white 0% 0% no-repeat padding-box;
  color: $primary_button_color;

  &:hover {
    color: $primary_button_color;
    background-color: rgb(223, 223, 223);
  }
}

// Outlined button styling
.outlinedButton {
  background: $white 0% 0% no-repeat padding-box;
  color: $primary_color;
  padding: 2vh 4vw;
  border: 2px solid $primary_button_color;

  &:hover {
    color: $white;
    background-color: $primary_button_color;
  }
}

// Small button styling
.smallButton {
  background: $primary_button_color 0% 0% no-repeat padding-box;
  font-size: 0.5em;
  color: $white;
  padding: 1.5vh 1.8vw;

  &:hover {
    color: $white;
    background-color: rgb(7, 149, 206);
  }
}

// Whatsapp Button
.whatsappButton {
  background: $whatsapp_button 0% 0% no-repeat padding-box;
  color: $white;
  padding: 2%;
  box-shadow: 0px 0px 12px rgba(32, 32, 32, 0.302);
  border-radius: 5px;
  text-align: center;

  &:hover {
    color: $white;
    background-color: $whatsapp_button_hover;
  }
}

.whatsappIcon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 8%;
}

// Full width button
.fullWidthButton {
  width: 100%;
  height: 100%;
  padding: 1.5vh 2vw;
}

.submit-button {
  display: flex;
  align-content: center;
  justify-content: center;

  margin-top: 2vh;
}

// Cart item number button
.cart-button {
  padding: 0.5vh 1vw;
}

.cart-button-plus {
  background-color: #02aff3;

  &:hover {
    background-color: #0197d3;
  }
}

.cart-button-minus {
  background-color: #f2f2f2;

  &:hover {
    background-color: #d4d4d4;
  }
}

// Icon Button
.icon-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;

  width: 50px;
  height: 50px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 1.5em;

  transition: all 0.8s ease-in;

  &::before {
    content: '';
    background-color: rgba(87, 87, 87, 0.5);
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 50% 50%;
    opacity: 0;
  }

  &:focus {
    outline: 0;
    &::before {
      animation: ripple_effect 0.8s ease-out;
    }
  }

  @keyframes ripple_effect {
    0%,
    35% {
      transform: scale(0);
      opacity: 1;
    }
    50% {
      transform: scale(0.5);
      opacity: 0.8;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
}
