@import '../../variable.scss';

.button {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 0px 12px rgba(32, 32, 32, 0.302);
  border: none;
  border-radius: 20px;
  opacity: 1;

  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;

  &:focus {
    outline: 0;
  }
}

// Primary button styling
.primaryButton {
  padding: 1.5vh 2vw;
}

.backgroundPrimary {
  background: $primary_button_color 0% 0% no-repeat padding-box;
  color: $white;

  &:hover {
    color: $white;
    background-color: rgb(7, 149, 206);
  }
}

.backgroundWhite {
  background: $white 0% 0% no-repeat padding-box;
  color: $primary_button_color;

  &:hover {
    color: $primary_button_color;
    background-color: rgb(223, 223, 223);
  }
}

// Outlined button styling
.outlinedButton {
  background: $white 0% 0% no-repeat padding-box;
  color: $primary_color;
  padding: 2vh 4vw;
  border: 2px solid $primary_button_color;

  &:hover {
    color: $white;
    background-color: $primary_button_color;
  }
}

// Small button styling
.smallButton {
  background: $primary_button_color 0% 0% no-repeat padding-box;
  font-size: 0.5em;
  color: $white;
  padding: 1.5vh 1.8vw;

  &:hover {
    color: $white;
    background-color: rgb(7, 149, 206);
  }
}

// Whatsapp Button
.whatsappButton {
  background: $whatsapp_button 0% 0% no-repeat padding-box;
  color: $white;
  padding: 2%;
  box-shadow: 0px 0px 12px rgba(32, 32, 32, 0.302);
  border-radius: 5px;
  text-align: center;

  &:hover {
    color: $white;
    background-color: $whatsapp_button_hover;
  }
}

.whatsappIcon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 8%;
}

// Full width button
.fullWidthButton {
  width: 100%;
  padding: 1.5vh 2vw;
}

.submit-button {
  display: flex;
  align-content: center;
  justify-content: center;

  margin-top: 2vh;
}
