@import '../../variable.scss';

// Card base
.cardBases {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: auto;
  height: auto;
  border-radius: 20px;
  padding: 5%;
}

// Product Card styling
.bold {
  font-weight: bold;
}

.product-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.productImageContainer {
  width: 13vw;
  height: auto;
  text-align: center;
}

.productImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.productDetail {
  text-align: center;
  margin: 5% 0;
  small {
    color: #5c5c5c;
  }
}

.buyButton {
  margin-top: 10%;
}

////////////////////////// Service card
.card-service-layout {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: flex-start;
}

.card-service-image_container {
  flex: 2;
  width: 100%;
  height: 50%;
}

.service-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.service-detail {
  flex: 1;
  margin: 5% 0;
  width: 100%;

  .service-detail-estimation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    p {
      display: block;
      font-size: 0.6em;
      color: #5c5c5c;
    }
  }
}

.full-width-button {
  width: 100%;
}

/////////////////////////// Login Card Section
.card-layout {
  width: 20vw;
}
.card-container-input {
  display: flex;
  flex-direction: column;
  color: $primary_font_color;
}
.login-button {
  display: flex;
  align-content: center;
  justify-content: center;

  margin-top: 2vh;
}
.login-register-text {
  text-align: center;
  margin-top: 2vh;
  a {
    color: $primary_color;
  }
}

// Cart Card Style
.cart-card {
  height: auto;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-card-header {
  display: flex;
  height: 8vh;
  width: 100%;
  background-color: #02aff3;

  border-radius: 10px 10px 0 0;

  align-items: center;
  justify-content: center;

  h3 {
    color: white;
  }
}

.cart-card-content {
  padding: 5%;
}
