// Card base
.cardBases {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 8%;
}

// Product Card styling
.bold {
    font-weight: bold;
}

.productImageContainer {
    width: 15vw;
    height: auto;
    text-align: center;
}

.productImage {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.productDetail {
    text-align: start;
}

.buyButton {
    float: right;
}