@import '../../variable.scss';

.cart-container {
  margin: 10vh 0;
  display: flex;
  flex-direction: row;

  @include response-to-size(phone-small) {
    flex-direction: column;
  }

  @include response-to-size(phone) {
    flex-direction: column;
  }
}

.cart-col {
  width: 100%;
  padding: 1%;

  @include response-to-size(phone-small) {
    margin-top: 5vh;
  }

  @include response-to-size(phone) {
    margin-top: 5vh;
  }
}

// Cart Section
.cart-item-container {
  width: 100%;
}
.cart-item-list {
  max-height: 50vh;
  min-height: 30vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 1vw;
    margin-left: 0.5vw;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(2, 175, 243, 0.2);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(2, 175, 243, 0.7);
  }

  @include response-to-size(phone-small) {
    min-height: 20vh;
  }
}

.cart-item-empty {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-total {
  height: auto;
  padding: 2vh 0;

  border-top: 3px solid rgba(0, 0, 0, 0.2);
}

.flex-row {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  p {
    font-size: 1.1em;
  }

  .cart-total-amount {
    color: #02aff3;
    font-weight: bold;
    font-size: 1.5em;
  }

  @include response-to-size(phone-small) {
    font-size: 1em;

    .cart-total-amount {
      font-size: 1.2em;
    }
  }
}
