.cart-container {
  margin: 10vh 0;
  display: flex;
  flex-direction: row;
}

.cart-col {
  width: 100%;
  padding: 1%;
}

// Cart Section
.cart-item-list {
  max-height: 50vh;
  min-height: 30vh;
  overflow-y: scroll;
}

.cart-item-empty {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  div {
    height: 100%;
  }
}

.cart-total {
  height: auto;
  padding: 2vh 0;

  border-top: 3px solid rgba(0, 0, 0, 0.2);
}
.flex-row {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  p {
    font-size: 1.1em;
  }

  .cart-total-amount {
    color: #02aff3;
    font-weight: bold;
    font-size: 1.5em;
  }
}
