@import '../../variable.scss';

.header-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 10vh;

  padding: 0 5vw;
  background-color: white;

  z-index: 2;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-navigation {
  flex: 1;
  height: 100%;
  width: 100%;

  .navigation-links {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;

    li a {
      margin-right: 3vw;
      text-decoration: none;

      &:hover {
        color: $primary_color;
      }
    }

    @include response-to-size(phone-only) {
      background: white;
      position: absolute;
      top: 9vh;
      left: 0;
      height: 10vh;
      width: 100%;

      justify-content: space-evenly;

      z-index: -1;

      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;

      &.open {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.user-menu {
  flex: 1;
  height: 100%;
  align-items: center;

  .user-navigation {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;

    a {
      color: $primary_color;
      margin: 0 2vw;
      &:hover {
        color: rgb(0, 150, 209);
      }
    }

    .header-icon-nav {
      width: auto;
      height: auto;
    }

    @include response-to-size(phone-only) {
      a {
        margin-right: 5vw;
      }

      .header-user-name {
        display: none;
      }
    }
  }
}

.active-route {
  color: $primary_color;
  border-bottom: 1.5px solid $primary_color;
}

.hamburger-menu {
  display: none;

  @include response-to-size(phone-only) {
    display: inline-block;
    cursor: pointer;
    color: $primary_color;
  }
}
