@import '../../variable.scss';

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 5.5vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  padding: 0 5vw;
  background-color: rgba(255, 255, 255, 0.8);

  z-index: 1;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navigation {
  a {
    position: relative;
    z-index: 1;
    // when visible
    display: block;
    padding: 1vh;
  }

  li {
    display: inline-block;
    padding-right: 1.5vw;
  }
}

.floatRight {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    padding-right: 1.5vw;
    color: $primary_color;

    &:hover {
      color: rgb(0, 150, 209);
    }
  }

  .header-cart-nav {
    width: auto;
    height: auto;
  }
}

a {
  &:hover {
    color: $primary_color;
  }
}

.header-active-route {
  color: $primary_color;
  border-bottom: 1.5px solid $primary_color;
}
