.dialog-container {
  min-height: 20vh;
  min-width: 20vw;
  max-width: 30vw;

  div {
    margin: 2vh 0;
    text-align: center;
  }
}

.dialog-title {
  font-size: 1.2em;
}

.dialog-caption {
  font-size: 1em;
}

.dialog-button {
  width: auto;
  height: auto;

  display: flex;
  justify-content: space-evenly;

  div {
    flex: 1;
    padding: 0 1vw;
  }
}
