@import '../../variable.scss';

.footer-container {
  width: 100vw;
  height: auto;

  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);

  background-color: $footer_base_color;

  .footer-content {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1.5%;

    @include response-to-size(phone-small) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 2%;
    }

    @include response-to-size(phone) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 3%;
    }
  }
}

.footer-logo {
  width: 10vw;
  height: auto;
  object-fit: contain;

  img {
    width: 100%;
    max-width: 100%;
    display: block;
  }
}

.footer-element {
  width: auto;
  max-width: 20vw;

  .footer-caption {
    margin-top: 2vh;
  }

  @include response-to-size(phone-small) {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 1vh 0;

    border-bottom: 0.5px solid rgba(121, 121, 121, 0.5);

    h3,
    p {
      font-size: 0.5rem;
    }

    &:last-of-type {
      border-bottom: hidden;
    }

    .footer-caption {
      margin-top: 0.5vh;
      text-align: center;
    }
  }

  @include response-to-size(phone) {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 1vh 0;

    border-bottom: 0.5px solid rgba(121, 121, 121, 0.5);

    &:last-of-type {
      border-bottom: hidden;
    }

    .footer-caption {
      margin-top: 0.5vh;
      text-align: center;
    }
  }
}

.footer-copyright {
  padding: 2%;
  width: 100%;
  text-align: center;
}
