@import '../../variable.scss';

.footer {
    width: 100vw;
    height: auto;
    
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    
    background-color: $footer_base_color;
}

.gridContainer {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 2vw;
}

.footerContent {
    padding: 5vh 5vw;
    text-align: left;

    img {
        width: 10vw;
        height: auto;

        justify-content: center;
        align-items: center;
    }

    
    .footerElement {
        
        div {
            padding: 3vh 0;
            p {
                line-height: 1.6;
            }
        }
    }
}

