.table-wrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding: 1%;

  height: 100%;
}

.table-container {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 1.5%;

  -webkit-box-shadow: 0 1.5vh 1.5vw 1px rgba(78, 78, 78, 0.2);
  -moz-box-shadow: 0 1.5vh 1.5vw 1px rgba(78, 78, 78, 0.2);
  box-shadow: 0 1.5vh 1.5vw 1px rgba(78, 78, 78, 0.2);
}

table {
  font-family: inherit;
  border-collapse: collapse;
  width: 100%;
}

thead {
  text-align: left;
  font-family: inherit;
  font-size: inherit;
  th {
    padding: 1.5%;
    color: #02aff3;
  }
}

tbody {
  width: 100%;
  overflow-x: auto;

  td,
  th {
    padding: 1.5%;
    text-align: left;
    width: auto;
    color: #5a5a5a;
  }

  tr {
    margin-bottom: 1vh;
    &:nth-child(odd) {
      background-color: rgba(192, 191, 191, 0.3);
    }
  }

  &::-webkit-scrollbar {
    width: 0.7vw;
    margin-left: 0.5vw;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(2, 175, 243, 0.4);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(2, 175, 243, 0.8);
  }
}
