.products-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  align-items: center;
}

.products-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 50vh;
  width: 100%;
}

.products-title {
  margin-bottom: 8vh;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-gap: 2vw;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5vh;
}
