@import '../../variable.scss';

.products-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  align-items: center;

  @include response-to-size(phone-small) {
    margin-top: 8vh;
  }

  @include response-to-size(phone) {
    margin-top: 8vh;
  }
}

.products-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 50vh;
  width: 100%;
}

.products-title {
  margin-bottom: 8vh;
}

.products-container {
  margin-bottom: 5vh;
}
