$white: #FFFFFF;
$primary_color: #02AFF3;

$primary_font_color: #707070;

$primary_button_color: #02AFF3;
$outlined_button_color: #02AFF3;

// footer color
$footer_base_color: #DFE9ED;
$whatsapp_button: #4CAF50;
$whatsapp_button_hover: rgb(42, 127, 45);
