.snackbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  visibility: hidden;
  min-width: 15vw;
  max-width: 70vw;
  // margin-left: -125px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 9px;
  padding: 2vh 1vw;
  position: fixed;
  z-index: 100;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 5%);
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.snackbar-show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
  -webkit-animation: enter 0.5s, fadeout 0.5s 3s;
  animation: enter 0.5s, fadeout 0.5s 3s;
}

.snackbar-success {
  background-color: rgba(7, 209, 0, 1);
}

.snackbar-fail {
  background-color: rgba(219, 0, 0, 1);
}

.snackbar-info {
  background-color: rgba(0, 164, 219, 1);
}

.snackbar-icon {
  margin-right: 1.5vw;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes enter {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 5%;
    opacity: 1;
  }
}

@keyframes enter {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 5%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 5%;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 5%;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
