.snackbar-container {
  visibility: hidden;
  min-width: 20vw;
  // margin-left: -125px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 3vh 2vw;
  position: fixed;
  z-index: 3;
  bottom: 5%;
  font-size: 1rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.snackbar-show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
  -webkit-animation: enter 0.5s, fadeout 0.5s 3s;
  animation: enter 0.5s, fadeout 0.5s 3s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes enter {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 5%;
    opacity: 1;
  }
}

@keyframes enter {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 5%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 5%;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 5%;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
